.user {
    background-color: transparent;
    margin-bottom: 8px;
    border-radius: 10px !important;
    border: 0px solid #f7cd23;
}
.user:hover {
    background-color: #f7cd23;
    color: #343434;
    /* border-color: transparent !important; */
}
.w-responsive {
    width: 60%;
}
@media (max-width: 740px) {
    .w-responsive {
        width: 100%;
    }
}
