.heading{
    color: #f7cd23!important;   
}
.primary-color{
    color: #f7cd23!important;   
}
.about-us{
    font-size: 0.8em;
}
.social-links .social-link{
    display: block;
    /* width:290px;
    margin:auto; */
    font-size: 0.8em!important;
}
.social-links .social-link:hover{
    color: #f7cd23!important;
    font-weight: 800!important;
}