{% extends 'base.html' %}
{% load static %}

{%block head%}
<link rel="stylesheet" href="{% static '/dff2020/css/home.css' %}" />
<title>MDFF</title>
{%endblock%}

{%block content%}
<h1 class="d-none">Moviepedia Digital Film Fest</h1>
<div class="bg" style="display: flex; align-items: center; margin-bottom: -16px;">
    <div class="text-center" style="width:100%; margin-top: 200px">
        <div class="py-2 bg-warning text-dark font-weight-bolder text-uppercase">Registrations Over</div>
        <div class="mt-3">
            <small><a href="{% url 'dff2020:login' %}" class="text-light mr-4 font-weight-bold">Login</a></small>
            <small><a href="{% url 'dff2020:faq' %}" class="text-light mr-4 font-weight-bold">FAQ</a></small>
            <small><a href="{% url 'dff2020:rules' %}" class="text-light mr-4 font-weight-bold">Rules &
                    Regulations</a></small>
            <small><a href="{% url 'dff2020:judges' %}" class="text-light font-weight-bold">Meet the Jury</a></small>
        </div>
    </div>

</div>
{%endblock%}