{% extends 'dff2020/unauthenticated_base.html' %}
{% load static %}

{%block left%}
<div class="container p-5">
    <img src="{% static 'dff2020/img/icon.png'%}" height="150px" />

    <div class="text-uppercase text-warning mt-5 font-weight-bold">Password Reset Successful</div>
    <div>Password reset Successful, please <a href="/login" class="text-warning">login</a> with new credentials!</div>
</div>
{%endblock%}

{%block scripts%}
<script>
function isValidForm(){
    $('#confirm_password_help_text').addClass('d-none');
    console.log($('#password').val())
    console.log($('#confirm_password').val())
    if ($('#password').val() !== $('#confirm_password').val()){
        $('#confirm_password_help_text').removeClass('d-none');
        return false;
    }
    return true
}
</script>
{%endblock%}