{% extends 'dff2020/unauthenticated_base.html' %}
{% load static %}

{%block left%}
<div class="container p-5">
    <img src="{% static '/dff2020/img/icon.png'%}" height="150px" />

    <div class="text-uppercase text-warning mt-5 font-weight-bold">Reset Password</div>
    <form class="text-left text-white" action="" method="post" onsubmit="return isValidForm()">
        {% csrf_token %}
        <div class="md-form">
            <!-- Name -->
            <input type="password" id="password" name="password" class="form-control text-reset" autocomplete="password" required />
            <label for="password">Password</label>
        </div>

        <div class="md-form">
            <!-- Name -->
            <input type="password" id="confirm_password" name="confirm_password" class="form-control text-reset" autocomplete="password" required />
            <label for="confirm_password">Confirm Password</label>
            <small id="confirm_password_help_text" class="d-none text-danger">Passwords should match</small>
        </div>
        
        <br />
        
        <button class="btn btn-sm btn-warning text-dark font-weight-bold" type="submit">Reset password</button>
    </form>
</div>
{%endblock%}

{%block scripts%}
<script>
function isValidForm(){
    $('#confirm_password_help_text').addClass('d-none');
    console.log($('#password').val())
    console.log($('#confirm_password').val())
    if ($('#password').val() !== $('#confirm_password').val()){
        $('#confirm_password_help_text').removeClass('d-none');
        return false;
    }
    return true
}
</script>
{%endblock%}