{% extends 'dff2020/authenticated_base.html' %}
{% load static %}

{%block left%}
<div class="container p-5">
    <img src="{% static 'dff2020/img/icon.png'%}" height="150px" />
    <div class=" text-warning mt-5 font-weight-bold text-uppercase">Returns & Refunds</div>
    <div class="text-muted mt-4">
        <p>The submissions to Moviepedia Digital Film Festival are irreversible and refund is not applicable if the user
        wants to withdraw the submission after submitting on the website or for not following the rules. The decision of
        the Editorial Team and the Judges would be final.</p>
    </div>
</div>
{%endblock%}