{% extends 'dff2020/authenticated_base.html' %}
{% load static %}

{%block head%}
<link rel="stylesheet" href="{% static 'dff2020/css/base.css' %}" />
<link rel="stylesheet" href="{% static 'dff2020/css/registration.css' %}" />
{%endblock%}

{%block left%}

<div class="container p-5" id="movies-app">

    <div class="text-left ">
        <a class="img-fluid" href="{%url 'dff2020:home'%}"><img src="{% static 'dff2020/img/icon.png'%}"
                height="150px" /></a>
    </div>
    <div class=" text-warning mt-5 font-weight-bold" v-cloak>Hello {{user.first_name}}!</div>
    <div class="text-warning mt-2">Registrations are over</div>
</div>
{%endblock%}

{%block right_content%}
{% verbatim %}
<ul class="stepper" id="steps">
    <!-- First Step -->
    <li class="step" :class="{active: active_step_id == step.id }" v-for="step in steps" :key="step.id" v-cloak>
        <div :data-step-label="step.date" class="step-title waves-effect waves-dark">{{step.name}}</div>
        <div class="step-new-content text-dark font-weight-lighter">{{step.desc}}</div>
    </li>
</ul>
{% endverbatim %}
{%endblock%}

{%block scripts%}
<script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.31/moment-timezone-with-data.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var user_joining_date = "{{user.date_joined.isoformat}}";
</script>
<script src="{% static 'dff2020/js/registration_steps.js'%}"></script>
{%endblock%}