{% extends 'dff2020/authenticated_base.html' %}
{% load static %}

{%block left%}
<div class="container p-5">
    <img src="{% static 'dff2020/img/icon.png'%}" height="150px" />
    <div class=" text-warning mt-5 font-weight-bold text-uppercase">Rules and Regulations</div>
    <div class="text-warning mt-4">
    
    
    {% for rule_type, rules in rules_by_type.items %}
        <h5 class="font-weight-light mb-4">{{rule_type}}</h5>
        <ul class="text-muted">
        {% for rule in rules %}
            <li>
            <p>
            {{rule.text|safe}}
            </p>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
    
    </div>
</div>
{%endblock%}