{% extends 'dff2020/base_single_panel.html' %}
{% load static %}
{% load dff2020_extras %}

{%block head%}
<link rel="stylesheet" href="{% static '/dff2020/css/shortlist_details.css' %}" />
{%endblock%}

{%block left%}
<div class="container p-5">
    <div class="text-left ">
        <a class="img-fluid" href="{%url 'dff2020:home'%}"><img src="{% static 'dff2020/img/icon.png'%}"
                height="150px" /></a>
    </div>
    <div class=" text-warning mt-5 font-weight-bold text-uppercase">MDFF-2020 Shortlist</div>
    <div class="text-warning mt-4">

        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                src="{{movie.entry.link}}" allowfullscreen></iframe>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12 mt-5">
                <h2><i class="fas fa-film"></i> {{movie.entry.name}}</h2>
                <h4 class="text-muted"><small>by </small> {{movie.entry.director}}</h4>
                <p class="text-muted"><i class="fas fa-quote-left"></i> {{movie.entry.synopsis}}</p>
            </div>

            <div class="col-md-3 col-sm-12 text-center mt-5">
                <span class="min-chart mt-0 mb-3" id="chart-jury" data-percent="{{jury_rating}}">
                    <span class="percent text-muted font-weight-bold"></span>
                </span>
                <p class="text-success font-weight-bold"><i class="fas fa-gavel"></i> JURY
                    {%if not user_voted%}
                    <br /><small class="text-muted">Rate to see actual ratings</small>
                    {%endif%}
                </p>

            </div>
            <div class="col-md-3 col-sm-12 text-center mt-5">
                <span class="min-chart mt-0 mb-3" id="chart-audience" data-percent="{{audience_rating}}">
                    <span class="percent text-muted font-weight-bold"></span>
                </span>
                <p class="font-weight-bold"><i class="fas fa-users"></i> AUDIENCE
                    {%if not user_voted%}
                    <br /><small class="text-muted">Rate to see actual ratings</small>
                    {%endif%}
                </p>
            </div>
        </div>

        {% if not user_voted %}
        <div class="text-center my-4">
            <button class="btn btn-sm text-dark font-weight-bold btn-warning">Rate this movie</button>

        </div>
        {% endif %}

        <h5 class="mt-5 mb-4 text-uppercase font-weight-bold">Audience Reviews</h5>


        {% if user_voted %}
        <div class="card-columns">
            {% for rating in ratings%}
            <div class="card bg-dark">
                <div class="card-header">
                    <div class="row">

                        <img class="d-inline-block mr-3 rounded-circle" height="40px" src="{{rating.profile_pic}}"
                            alt="{{rating.get_full_name}}">

                        <small class="text-light">
                            {{rating.user_full_name}}<br />
                            {% for i in rating.stars %}
                            <i class="fas fa-xs fa-star light-text"> </i>
                            {%endfor%}
                            {% if rating.half_star%}
                            <i class="fas fa-xs fa-star-half light-text"> </i>
                            {%endif%}
                        </small>

                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">{{rating.review}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {%else%}
        <div class="card bg-light">
            <div class="card-body  py-4">
                <h5 class="card-title text-center text-muted">
                    <i class="fas fa-lock mb-3"></i>
                    <br />
                    Rate the movie to unlock
                </h5>
            </div>
        </div>
        {%endif %}
    </div>
</div>
{%endblock%}

{%block scripts%}
<script src="{% static '/js/vendor/compiled-addons.min.js'%}"></script>
<script>
    var barColorJury = "#00C851";
    var barColorAudience = "#ffc221";
    {%if not user_voted %}
    barColorJury = "#2F2F2F";
    barColorAudience = "#2F2F2F";
    {% endif %}
    $(function () {
        $('#chart-jury').easyPieChart({
            barColor: barColorJury,
            trackColor: "#212121",
            scaleLength: 0,
            lineWidth: 7,
            lineCap: "round",
            onStep: function (from, to, percent) {
                $(this.el).find('.percent').text(Math.round(percent) / 10 + "/10");
            }
        });
        $('#chart-audience').easyPieChart({
            barColor: barColorAudience,
            trackColor: "#212121",
            scaleLength: 0,
            lineWidth: 7,
            lineCap: "round",
            onStep: function (from, to, percent) {
                $(this.el).find('.percent').text(Math.round(percent) / 10 + "/10");
            }
        });
    });
</script>
{%endblock%}