{% extends 'dff2020/quick_link_base.html' %}
{% load static %}

{%block left%}
<div class="container p-5">
    <img src="{% static 'dff2020/img/icon.png'%}" height="150px" />
    <div class=" text-warning mt-5 font-weight-bold">Your have {{entries|length}} submissions!</div>
    <div class="text-warning mt-4">
    {% for entry in entries%}
        Name: <b>{{entry.name}}</b><br/>
        Director: <b>{{entry.director}}</b><br/>
        Link: <b><a class="text-warning" href="{{entry.link}}">{{entry.link}}</a></b><br/>
        Runtime: <b>{{entry.runtime}} Minutes</b><br/>
        Synopsis: <b>{{entry.synopsis}}</b><br/>
        Payment: {{entry.payment}}
        {% if not forloop.last %}
            <hr/>
        {%endif%}
    {%endfor%}
    </div>
</div>
{%endblock%}
