{% extends 'dff2020/authenticated_base.html' %}
{% load static %}
{% load dff2020_extras %}
{% load humanize %}

{%block left%}
<div class="container p-5">
    <img src="{% static 'dff2020/img/icon.png'%}" height="150px" />
    <div class=" text-warning mt-5 font-weight-bold text-uppercase">You have {{ entries|length|apnumber }} submission{{ entries|length|pluralize }}</div>
    <div class=" mt-4">
    {% for entry in entries%}
            <div class="card card-cascade my-5 bg-muted narrower">

            <!-- Card image -->
            <div class="view view-cascade gradient-card-header bg-warning text-dark">

                <!-- Title -->
                <h2 class="card-header-title mb-1">
                    {{entry.name}}
                </h2>
                <!-- Subtitle -->
                <p class="card-header-subtitle mb-0">{{entry.director}}</p>

            </div>
            <a class="btn-floating btn-action ml-auto mr-4 bg-dark" target="_blank" href="{{entry.link | complete_link}}">
                <i class="fas fa-link pl-1 text-warning"></i>
            </a>
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
                <!-- Text -->
                <p class="card-text text-dark">{{entry.synopsis}}</p>
                <hr/>
                <!-- Card footer -->
                <small class="text-muted">
                    <div style="display:inline-block" class="mr-1">Runtime {{entry.runtime}} Minutes</span></div>
                    <i class="far fa-circle fa-xs d-sm-inline d-none"></i>
                    <div style="display:inline-block" class="ml-1">Payment {{entry.payment}}</div>
                </small>
                
            </div>
            </div>
    {%endfor%}
    </div>
</div>
{%endblock%}
