{% extends 'base.html' %}
{% load static %}



{%block content%}
    <div class="text-white container mt-5">
        <h1 class="text-uppercase">Refund Policy</h1>
        <p>Returns & Refunds
Film submissions

 The submissions to Moviepedia Digital Film Festival are irreversible and refund is not applicable if the user wants to withdraw the submission after submitting on the website or for not following the rules. The decision of the Editorial Team and the Judges would be final.</p>
    </div>
{%endblock%}

